Task_1_2_1/.gradle
Task_1_2_1/build/
!Task_1_2_1/gradle/wrapper/gradle-wrapper.jar
!Task_1_2_1/**/src/main/**/build/
!Task_1_2_1/**/src/test/**/build/

### IntelliJ IDEA ###
Task_1_2_1/.idea/modules.xml
Task_1_2_1/.idea/jarRepositories.xml
Task_1_2_1/.idea/compiler.xml
Task_1_2_1/.idea/libraries/
*.iws
*.iml
*.ipr
Task_1_2_1/out/
!Task_1_2_1/**/src/main/**/out/
!Task_1_2_1/**/src/test/**/out/

### Eclipse ###
Task_1_2_1/.apt_generated
Task_1_2_1/.classpath
Task_1_2_1/.factorypath
Task_1_2_1/.project
Task_1_2_1/.settings
Task_1_2_1/.springBeans
Task_1_2_1/.sts4-cache
Task_1_2_1/bin/
!Task_1_2_1/**/src/main/**/bin/
!Task_1_2_1/**/src/test/**/bin/
